.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
  }
  .firstsection > div {
    width: 30%;
  }

  .leftSection {
    font-size: 3rem;
    color: white;
  }
  .leftSection .buttons{
    padding: 50px 0;
  }
  .leftSection .btn {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }
  .rightSection img {
    width: 80%;
  }
  .purple{
    color:rgb(170,107,228);
  }
  .text-gray {
    color: gray;
  }
  #element{
    color:rgb(170,107,228);
  }

  #btn2{
    margin-left: 20px;
  }  

